@{
    ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Student Application Guidance</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/ViewSubjects">View Subjects</a>
                    

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/ApplicationUsers">Application Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Admin/Courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Admin/University">Universities</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>Welcome to the Dashboard</h1>
        <p>This is the dashboard where you can manage and view different aspects of the application.</p>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>
